/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Arial,"Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    width: 100%;
}

/**********/
/* BANNER */
/**********/

@media screen and (max-width: 768px)
{
    .banner {
        display: block;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        bottom: 0;
    }
    .banner img{
        width: 100%;
    }
    .banner i{

        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        z-index: 3;
        cursor: pointer;
    }
    .banner_close{
        top: 2%;
        right: 2%;
        background-image: url("../images/close.png");
    }
    .banner_down{
        display: none;
        background-image: url("../images/down-arrow.png");
        top: 5px;
        left: 5px;
    }
    .banner_up{
        background-image: url("../images/up-arrow.png");
        top: 5px;
        left: 5px;
    }
}

@media screen and (min-width: 768px)
{
    .banner {
        display: none;
    }
    .banner img{
        display: none;
    }
}

